You're registering to spin at <span class="selected_spin_time"></span>, the fee is $<%= @fund.registration_fee %>
<br/><br/>

<%= form_for [@fund, @fund.pledges.new], :remote => true do |reg_form| %>
  <div class="field">
		<%= reg_form.label :first_name %><br>
		<%= reg_form.text_field :first_name %>
	</div>
	
	<div class="field">
		<%= reg_form.label :last_name %><br>
		<%= reg_form.text_field :last_name %>
	</div>

  <div class="field">
		<%= reg_form.label :email_address %><br>
		<%= reg_form.text_field :email_address %>
	</div>
	
  <%= reg_form.hidden_field :period, :class => "period_num" %>
  <%= reg_form.hidden_field :day_id, :class => "day_id" %>
  
  <div class="clear">
    Please enter your credit card information:
  </div>

	<div class="actions">
    <%= reg_form.submit :value => "Register", :class => "good_karma_button_modal" %>
	</div>
	
<% end %>
