<div class="modal_box">
  <div class="modal_title">
    <span class="modal-link-close">close</span>
    <h2>Title</h2>
  </div>
  <div class="modal_content"></div>
</div>
<div class="modal_bg">
</div>
<div class="wrapper">
  <div class="header">
    <div class="container">
      <div class="raised">
        Raised so far 
        <div class="amount">
          $<%= @fund.total_raised %>
        </div>
      </div>
      <div class="logo">
        Rid<span class="first">e</span><span class="num">4</span><span class="third">Ryan</span>
      </div>
      <div class="count_down">
        <span class="days_left_num">
          <%= @fund.days_left %>
        </span>
        <span class="days_left_text">
          daystogo
        </span>
        <span class="days_left_date">
          <%= @fund.start_date.strftime('%b %dth, %l:%M %p')%>
        </span>
      </div>
      <div class="spin_signup_text">
        Spin Signup
      </div>
    </div>
  </div>
  <div class="main">
    <div class="container">
      <div class="slot_list">
        <div class="arrow-left"></div>
        <div class="arrow-right"></div>
        <span class="day"><%= @fund.start_date.strftime('%b %dth, %Y')%></span>
        <ul>
		<% @fund.fund_times(@fund.days.first).each do |t| %>
          <li>
            <span><%= t.strftime('%l:%M %p') %></span>
            <span><div class="reg modal-link">Register</div></span>
            <span><%= @fund.available_slots(@fund.days.first, 1) %> spots</span>
          </li>
		<% end %>
        </ul>
        <div class="list_footer">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="left_content">
        <div class="about">
          <h1><%= @fund.headline %></h1>
          <%= @fund.content %>
        </div>
        <div class="products">
          <ul>
			<% @fund.products.order('amount ASC').each do |p| %>
            <li>
              <h2><%= p.name %></h2>
              <div class="product_box">
                <div class="image"></div>
                <span class="dollar_sign">$</span>
                <span class="dollar_num"><%= p.amount %>+</span>
              </div>
            </li>
			<% end %>
            </ul>
          <div class="donation_container">
            <div class="donation_text">
              <strong>Any donations is appreciated</strong>, but the more you give, the more you get!
            </div>
            <div class="donation_form">
              <div class="good_karma_button modal-link">Good Karma :)</div>
              <input type="text" class="pledge_amount" placeholder="0">
              $
            </div>
          </div>
        </div>
        <div class="about">
          <h1>The location</h1>
          <%= @fund.location %>
          <br/><br/><br/>
        </div>        
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="contact_host">
        <%= @fund.blurb %>
      </div>
      <div class="sponsor_text">
        And an <strong>enormous</strong> thanks, to our <strong>incredible</strong> sponsors!
      </div>
    </div>
  </div>
</div>
