<div class="modal_box">
  <div class="modal_title">
    <span class="modal-link-close">close</span>
    <h2>Title</h2>
  </div>
  <div class="modal_content">
    <%= render 'donate', :fund => @fund, :pledge => @pledge %>
  </div>
</div>
<div class="modal_bg">
</div>
<div class="wrapper">
  <div class="header" style="background-image:url('<%= @fund.background.url %>');">
    <div class="container">
      <div class="raised">
        Raised so far 
        <div class="amount">
          $<%= @fund.total_raised %>
        </div>
      </div>
      <div class="logo">
        Rid<span class="first">e</span><span class="num">4</span><span class="third">Ryan</span>
      </div>
      <div class="count_down">
        <span class="days_left_num">
          <%= @fund.days_left %>
        </span>
        <span class="days_left_text">
          daystogo
        </span>
        <span class="days_left_date">
          <%= @fund.start_date.strftime('%b %dth') %>,
		  <%= @fund.start_time.strftime('%l:%M %p') %>
        </span>
      </div>
      <div class="spin_signup_text">
        Spin Signup
      </div>
    </div>
  </div>
  <div class="main">
    <div class="container">
      <div class="slot_list">
        <div class="arrow-left"></div>
        <div class="arrow-right"></div>
        <% @fund.days.each do |day| %>
          <span class="day"><%= day.date.strftime('%b %dth, %Y')%></span>
          <ul>
            <% @fund.times_and_slots(day).each do |t| %>
              <li>
                <span>
                  <%= t[0].strftime('%l:%M %p') %>
                </span>
                <span>
                  <div class="reg modal-link" data-length="<%= day.period_length %>" data-time="<%= t[0].strftime('%l:%M %p') %>" data-period="<%= t[1] %>" data-day="<%= day.id %>" data-target="modal_register">
                   Register 
                  </div>
                </span>
                <span>
                  <%= t[2] %> spots
                </span>
              </li>
            <% end %>
          </ul>
        <% end %>
        <div class="list_footer">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="left_content">
        <div class="about">
          <% if @msg %>
            <div class="transaction_response">
              <%= @msg %>
            </div>
          <% end %>          
          <h1>
            <%= @fund.headline %>
            <div class="fb-like" data-href="https://www.ride4ryan.com" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false" data-font="lucida grande"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="ride4ryan" data-lang="en">Tweet</a>
          </h1>
          <%= raw markdown.render(@fund.content) %>          
        </div>
        <div class="donation_container">
          <div class="donation_text">
            <strong>Any donations are appreciated</strong>, but the more you give, the more you get!
          </div>
          <div class="donation_form">
            <div class="good_karma_button modal-link" data-target="modal_donate">Good Karma :)</div>
            <input type="text" class="pledge_amount" placeholder="0">
            $
          </div>
        </div>        
        <div class="products">
          <ul data-fee="<%= @fund.registration_fee %>">
            <% @fund.products.order('amount ASC').each do |p| %>
              <li>
                <h2><%= p.name %></h2>
                <div class="product_box">
                  <div class="image">
                    <%= image_tag p.image.url %>                  
                  </div>
                  <span class="dollar_sign">$</span>
                  <span class="dollar_num"><%= p.amount %>+</span>
                </div>
              </li>
            <% end %>
            </ul>
        </div>
        <div class="location">
          <h1>The location</h1>
          <%= raw markdown.render(@fund.location) %>
          <br/><br/><br/>
        </div>        
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="contact_host">
        <%= @fund.blurb %>
      </div>
      <div class="sponsor_text">
        And an <strong>enormous</strong> thanks, to our <strong>incredible</strong> sponsors!
      </div>
    </div>
  </div>
</div>
